html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.itemInputRow {
    border: solid #aaaaaa 1px;
    padding: 10px;
    margin: 20px;
    background-color: #dddddd
}

div.itemInputContainer {
    margin: 10px;
}

div.itemInputDeleteButtonContainer {
    margin: 10px;
}