html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.itemInputRow {
    padding: 5px;
    margin: 10px;
}

div.itemInputContainer {
    margin-left: 10px;
    margin-right: 10px;
}

div.itemInputDeleteButtonContainer {
    margin: 10px;
}

.select-main {
    padding: 6px;
    width: 120px;
    font-size: 16px;
    border: 2px solid teal;
    margin-left: 10px;
}

.vh-center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
